PORT=3000
NODE_ENV=production
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/?appName=cluster0
JWT_SECRET=<your-jwt-secret>
OPENAI_API_KEY=<your-openai-key>
CLIENT_URL=https://<your-production-frontend-url>
CLERK_SECRET_KEY=<your-clerk-secret-key>
CLERK_PUBLISHABLE_KEY=<your-clerk-publishable-key>
